/* You can add global styles to this file, and also import other style files */

/* custom.scss */
/* change theme colors */
$secondary: #000848;
$primary: #025bff;
$success: #1c9d17;
$info: #D7D2CB;
$warning: #FFAB00;
$danger: #d04324;
$light: #FFFFFF;
/* end custom.scss */

$theme-colors: (
	"primary": $primary,
	"primary-500": $primary,
	"primary-400": #357CFF,
	"primary-300": #9ABDFF,
	"primary-200": #CCDEFF,
	"secondary": $secondary,
	"secondary-500": $secondary,
	"secondary-400": #33396D,
	"secondary-300": #9A9CB6,
	"secondary-200": #CCCEDA,
	"tertiary-500": #D7D2CB,
	"tertiary-400": #DFDBD5,
	"tertiary-300": #EFEDEA,
	"tertiary-200": #F7F6F5,

	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": #000,
	// keep Bootstrap's dark or define your own
);

$font-family-sans-serif: 'Titillium Web', sans-serif;
$headings-font-family: 'Sen', sans-serif;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:root {
	--font-primary: 'Sen', sans-serif;
	--font-body: 'Titillium Web', sans-serif;
}

body {
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
}

.btn-main {
	@extend .btn-primary;
}

.btn-text-dark {
	@extend .btn-outline-secondary;
	@extend .border-0;

}

.container-light {
	@extend .border;
	@extend .border-primary;
	@extend .rounded;
	@extend .border-2;
	@extend .p-3;
	box-shadow: 0 4px 16px rgba(2, 91, 255, 0.15);
}

// .container-dark {
// 	// @extend .border;
// 	// @extend .border-tertiary-500;
// 	@extend .bg-tertiary-200;
// 	@extend .rounded;
// 	@extend .border-2;
// 	@extend .p-3;
// 	// box-shadow: 0 4px 16px rgba(2, 91, 255, 0.15);
// }

.brand-text {
	font-size: 1.1rem;
	/* modify as needed */
	font-weight: 500;
	line-height: 1;
	/* crucial for vertical alignment */
	display: flex;
	align-items: center;
	font-family: var(--font-primary);
	margin-top: auto
}



.navbar-brand .brand-text {
	margin-top: 7px;
	/* adjust -1px, -2px, or -3px depending on the logo */
}

.container-dark {
	// @extend .border;
	// @extend .border-tertiary-400;
	@extend .bg-tertiary-200;
	// @extend .rounded;
	// @extend .border-2;
	@extend .p-3;
	// box-shadow: 0 4px 16px rgba(2, 91, 255, 0.15);
}


.myspinner {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 70%;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	justify-content: end;
	align-items: end;
}

.my-drop-target {
	filter: opacity(0.5);
}

.my-drop-valid-target {
	border-style: dashed !important;
	border-color: black !important;
	border-width: thin !important;
}

.my-drag-target {
	filter: opacity(0.2);
}

body.has-sidebar-pinned {
	overflow-x: hidden;

	&.sidebar-position-start {
		.navbar.fixed-top {
			width: calc(100% - var(--sidebar-width));
			margin-left: var(--sidebar-width);
			padding-left: 0 !important;
		}

		.navbar-brand {
			margin-left: 1rem;
		}

		.d-flex {
			max-width: 100%;
		}
	}

	&.sidebar-position-end {
		.navbar.fixed-top {
			width: calc(100% - var(--sidebar-width));
			margin-right: var(--sidebar-width);
			padding-right: 0 !important;
		}

		.navbar-brand {
			margin-right: 1rem;
		}

		.d-flex {
			max-width: 100%;
		}
	}
}


.offcanvas-sidebar {

	&.pinned .offcanvas-body,
	&.pinned .offcanvas-body>.child-container,
	&.pinned .offcanvas-body>.child-container>*:first-child {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
}

body {
	position: relative;
	background-image: url('assets/background-dark.jpg');
	// background-color: $secondary;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	background-attachment: fixed;
}

.leader-line {
	pointer-events: none;
	position: absolute !important;
	z-index: 99999 !important;
}
